In [231]:
import requests
import bs4
import pandas as pd
import numpy as np
import shutil
import os

Please download kaggle-dataset from: https://www.kaggle.com/datasets/borismarjanovic/price-volume-data-for-all-us-stocks-etfs
And put it into directory ./data/kaggle-dataset or change constants below
The resulting reduced dataset will be saved into ./data/stocks

In [232]:
KAGGLE_DATASET_FOLDER = "kaggle-dataset"
OUTPUT_FOLDER = "stocks"

In [233]:
url = "https://disfold.com/united-states/companies/"
response = requests.get(url)
soup = bs4.BeautifulSoup(response.text, "html.parser")

In [234]:
table = soup.find("table", {"class": "striped"})
rows = table.find_all("tr")[1:]

In [235]:
companies = list(map(lambda row: [cell.text.strip() for cell in row.find_all("td")], rows))

In [236]:
df = pd.DataFrame(companies, columns=["index", "company_name", "market_cap", "stock", "country", "sector", "industry"]).set_index("index")
df["inputfile"] = df["stock"].str.lower().str.replace('.', '-') + ".us.txt"
df["datafile"] = df["stock"].str.lower().str.replace('.', '-') + ".csv"
df.head()

/tmp/ipykernel_127966/946786513.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["inputfile"] = df["stock"].str.lower().str.replace('.', '-') + ".us.txt"
/tmp/ipykernel_127966/946786513.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["datafile"] = df["stock"].str.lower().str.replace('.', '-') + ".csv"

,company_name,market_cap,stock,country,sector,industry,inputfile,datafile
index,,,,,,,,
1,Apple Inc.,$2.067 T,AAPL,United States,Technology,Consumer Electronics,aapl.us.txt,aapl.csv
2,Microsoft Corporation,$1.788 T,MSFT,United States,Technology,Software—Infrastructure,msft.us.txt,msft.csv
3,Alphabet Inc.,$1.158 T,GOOG,United States,Communication Services,Internet Content & Information,goog.us.txt,goog.csv
4,"Amazon.com, Inc.",$875.51 B,AMZN,United States,Consumer Discretionary,Internet Retail,amzn.us.txt,amzn.csv
5,Berkshire Hathaway Inc.,$683.10 B,BRK.B,United States,Financials,Financial Conglomerates,brk-b.us.txt,brk-b.csv

Dataset comes from before facebook changed name to META

In [237]:
df.columns

Index(['company_name', 'market_cap', 'stock', 'country', 'sector', 'industry',
       'inputfile', 'datafile'],
      dtype='object')

In [238]:
df.iloc[18, 6] = "fac.us.txt"
df.iloc[18, 7] = "fac.csv"

Aparently RTX company didn't exist on stock market when dataset was taken

In [239]:
df[df["stock"] == "RTX"]

,company_name,market_cap,stock,country,sector,industry,inputfile,datafile
index,,,,,,,,
47,Raytheon Technologies Corporation,$148.36 B,RTX,United States,Industrials,Aerospace & Defense,rtx.us.txt,rtx.csv

In [240]:
#Drop ow 47
df = df.drop('47')

In [241]:
if not os.path.exists(OUTPUT_FOLDER):
    os.mkdir(OUTPUT_FOLDER)

for input_file, output_file in zip(df["inputfile"], df["datafile"]):
    datafile = f"{KAGGLE_DATASET_FOLDER}/Stocks/{input_file}"
    shutil.copyfile(datafile, f"{OUTPUT_FOLDER}/{output_file}")

In [242]:
df.drop(["inputfile"], axis=1).to_csv("companies.csv")

SyntaxError: closing parenthesis ')' does not match opening parenthesis '[' (2773937681.py, line 1)